.main{
    width: 100%;
    
}
.nav{
    width: 100%;
    height: 150px;
    /* background-image: url(./images.jpg); */
    background-repeat: no-repeat;
    /* background-position: 0px; */
    /* background-size: cover; */
     

    display: flex;
    gap: 1000px;
}
.nav img{
   
    width: 200px;
    height: 200px;
}
.butt{
    padding-top: 50px;
}
.nav button{
    padding: 30px;
    border-radius: 150px;
    border: none;
}
.butt a{
    color: rgb(69, 154, 171);
    text-decoration: none;
    font-size: larger;
}
.image{
    width: 100%;
    height: 300px;
}
.tables{
    
    padding-left: 500px;


}
table{
    border: 1px solid black;
    
}

.formmm{
    padding-top: 200px;
    padding-left: 500px;
height: 400px;
   
}

form #na{
    color: aqua;
    padding-left: 50px;
}
form label{
    color: aqua;

}
.gender{
    padding-left: 40px;
}

.gen{
    padding-left: 20px;
}
.check{
    padding-left: 20px;
}
#sbt-btn{
    padding: 20px;
    border-radius: 23px;
    /* background-image: url(./b-bg.webp); */
    background-position: 0px;
    color: rgb(255, 68, 5);
    font-size: x-large;

}
.submit{
    padding-left: 100px;
    
}
.tables{
    /* background-image: url(./bg.png); */
}
h3{
    padding-left: 60px;
    font-size: x-large;
    font-weight: bolder;
}